
@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <div class="d-flex justify-content-between flex-wrap flex-md-row align-items-center pb-2 mb-3 border-bottom">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">User</li>
        </ol>
        <div class="mb-2 mb-md-0">
            <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> Save</button>
            <a class="btn btn-sm btn-secondary" href="/admin/tags/index"><i class="fa fa-ban"></i> Cancel</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                    Create a Tag
                </div>
                <div class="card-body">
                    <div class="row">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

