@{
    var year = DateTime.Now.Year;
}
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright © Blog @year</span>
        </div>
    </div>
</footer>