  <li class="nav-item active">
    <a class="nav-link" href="#">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link"  href="#">
        <i class="fas fa-fw fa-pen"></i>
        <span>Posts</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link"  href="#">
        <i class="fas fa-fw fa-tags"></i>
        <span>Tag</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link"  href="#">
        <i class="fas fa-fw fa-users"></i>
        <span>Users</span>
    </a>
</li>