<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Razor Blog</title>
    <!-- Bootstrap core CSS -->
    <link href="~/themes/default/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/themes/default/css/blog-home.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <partial name="_Nav" />
    <!-- Page Content -->
    <div class="container">
        <div class="my-4">
            @RenderBody()
        </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/themes/default/vendor/jquery/jquery.min.js"></script>
    <script src="~/themes/default/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
